<ion-content [fullscreen]="true" class="ion-content-center">
    <div class="flex w-full max-w-sm flex-col items-center gap-2 px-6 py-8 text-center">
        <div
            class="flex p-0 ion-text-lg-capitalize items-center justify-center rounded-full border">
            <ion-icon name="checkmark-circle-sharp" class="text-[60px]"></ion-icon>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="m-0 text-xl font-medium text-neutral-100">Password updated</h1>
            <p class="m-0 text-sm text-neutral-500">You can sign in with your new password.</p>
        </div>
        <ion-button routerLink="/auth/login" class="max-w-[200px]">
            <ion-icon name="log-in-sharp" slot="start"></ion-icon>
            Sign in
        </ion-button>
    </div>
</ion-content>