<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>User Management</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="mx-auto flex w-full min-w-0 max-w-7xl flex-col gap-4 pb-4">
        <div class="flex flex-col gap-4 min-w-0">
            <div
                class="flex min-w-0 flex-col gap-3 sm:flex-row sm:flex-wrap sm:items-center sm:justify-center">
                <ion-select
                    [label]="'User Type'"
                    class="w-full min-w-0 sm:w-max sm:shrink-0"
                    [value]="searchUserType"
                    fill="outline"
                    (ionChange)="onSearchUserTypeChange($event)">
                    <ion-select-option value="all">All</ion-select-option>
                    <ion-select-option value="staff">Staff</ion-select-option>
                    <ion-select-option value="admin">Admin</ion-select-option>
                </ion-select>
                <ion-input
                    class="min-w-0 flex-1 sm:min-w-[12rem]"
                    fill="outline"
                    type="text"
                    placeholder="Search"
                    (ionInput)="onSearchChange($event)"
                    [value]="searchQueryString">
                </ion-input>

                <div class="flex shrink-0 items-center justify-start gap-2 sm:justify-center">
                    <ion-button (click)="loadUsers()" *ngIf="!searchQueryString" class="size-[56px]">
                        <ion-icon name="refresh-sharp" [class.animate-spin]="isLoading"></ion-icon>
                    </ion-button>
                    <ion-button (click)="clearSearch()" *ngIf="searchQueryString" class="size-[56px]">
                        <ion-icon name="close-circle-sharp"></ion-icon>
                    </ion-button>
                    <ion-button [routerLink]="['/user-management/add']" color="primary"
                        class="w-full min-[480px]:w-auto h-[56px]">
                        <ion-icon name="person-add-sharp" slot="start"></ion-icon>
                        Add User
                    </ion-button>
                </div>
            </div>

            <div class="w-full min-w-0 overflow-x-auto">
                <ngx-datatable
                    [class]="ThemeService.isDarkPalette() ? 'dark' : 'material'"
                    columnMode="force"
                    [rows]="users"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [limit]="5">
                    <ngx-datatable-column name="ID" prop="_id" [minWidth]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Name" [minWidth]="100">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row?.first_name ?? '' }} {{ row?.last_name ?? '' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Username" prop="username" [minWidth]="120">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span class="line-clamp-2">{{ row?.username ?? '' }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop="email" [minWidth]="200">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span class="line-clamp-2">{{ row?.email ?? '' }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="User Type" [width]="120" [canAutoResize]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="flex flex-row items-center justify-start">
                                <ion-select
                                    fill="outline"
                                    class="ion-text-start"
                                    interface="popover"
                                    [value]="row?.user_type"
                                    [disabled]="isRowUpdating(row) || isLoadingUpdateUserType"
                                    (ionChange)="onUserTypeChange($event, row)">
                                    <ion-select-option value="staff">Staff</ion-select-option>
                                    <ion-select-option value="admin">Admin</ion-select-option>
                                </ion-select>
                                <div
                                    [class.opacity-100]="showCheckMark && updatingUserId === row._id"
                                    [class.opacity-0]="!showCheckMark || updatingUserId !== row._id"
                                    class="flex items-center justify-center bg-green-200 rounded-full flex items-center justify-center w-max transition-opacity duration-300">
                                    <ion-icon name="checkmark-circle-sharp" class="text-green-500 text-2xl"></ion-icon>
                                </div>
                                <div
                                    [class.opacity-100]="showXMark && updatingUserId === row._id"
                                    [class.opacity-0]="!showXMark || updatingUserId !== row._id"
                                    class="flex items-center justify-center bg-green-200 rounded-full flex items-center justify-center w-max transition-opacity duration-300">
                                    <ion-icon name="close-circle-sharp" class="text-red-500 text-2xl"></ion-icon>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        name="Actions"
                        [sortable]="false"
                        [width]="130"
                        [canAutoResize]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="flex flex-row items-center justify-start gap-1">
                                <ion-button
                                    color="primary"
                                    fill="clear"
                                    [routerLink]="['/user-management/edit', row._id]">
                                    <ion-icon name="create-sharp" slot="icon-only"></ion-icon>
                                </ion-button>
                                <ion-button
                                    color="danger"
                                    fill="clear"
                                    (click)="onDeleteUser(row)">
                                    <ion-icon name="trash-sharp" slot="icon-only"></ion-icon>
                                </ion-button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>

</ion-content>