<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" *ngIf="showAppMenu()">
            <ion-content>
                <div class="menu-header ion-padding">
                    <div class="flex flex-row items-center gap-3">
                        <div class="flex items-center justify-center size-[44px] rounded-xl shrink-0"
                            style="background-color: var(--app-ion-btn-primary-fg);">
                            <span class="text-base font-semibold leading-none ion-text-uppercase"
                                style="color: var(--app-ion-btn-primary-bg)">
                                {{ firstLetterFirstName()}}
                            </span>
                        </div>

                        <div class="flex flex-col gap-0.5 min-w-0">
                            <ion-text class="text-sm font-semibold truncate">
                                {{sessionService.normalizedFullName()}}
                            </ion-text>
                            <ion-text class="text-xs opacity-60 truncate">
                                {{sessionService.user()?.email}}
                            </ion-text>
                            <span class="text-[10px] font-medium tracking-wide uppercase opacity-40 mt-0.5">
                                {{this.sessionService.user()?.role}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="ion-padding">
                    <ion-list lines="none" class="ion-padding">
                        <ion-menu-toggle auto-hide="false" *ngIf="sessionService.user()?.role === 'admin'">
                            <ion-item button routerLink="/user-management/view-all" routerLinkActive="selected"
                                detail="false">
                                <ion-icon name="people-outline" slot="start"></ion-icon>
                                <ion-label>User Management</ion-label>
                            </ion-item>
                        </ion-menu-toggle>

                        <ion-accordion-group>
                            <ion-accordion value="todo-management">
                                <ion-item slot="header" detail="false" lines="none">
                                    <ion-icon name="list-outline" slot="start"></ion-icon>
                                    <ion-label>Todo Management</ion-label>
                                </ion-item>
                                <ion-list slot="content" lines="none" class="ion-no-padding">
                                    <ion-menu-toggle auto-hide="false" *ngIf="sessionService.user()?.role === 'admin'">
                                        <ion-item
                                            button
                                            routerLink="/todos/all-users"
                                            routerLinkActive="selected"
                                            detail="false"
                                            class="ion-padding-start">
                                            <ion-label>All Users</ion-label>
                                        </ion-item>
                                    </ion-menu-toggle>
                                    <ion-menu-toggle auto-hide="false">
                                        <ion-item
                                            button
                                            routerLink="/todos/my-todos"
                                            routerLinkActive="selected"
                                            detail="false"
                                            class="ion-padding-start">
                                            <ion-label>My Todos</ion-label>
                                        </ion-item>
                                    </ion-menu-toggle>
                                </ion-list>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-list>
                </div>

            </ion-content>

            <ion-footer class="ion-padding flex flex-col gap-4 menu-footer">
                <app-dark-mode-toggle></app-dark-mode-toggle>
                <!-- <ion-button elevation="0" expand="full" class="app-menu-logout" (click)="logout()">Logout</ion-button> -->
                <ion-button color="danger" (click)="sessionService.logout()">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    Logout
                </ion-button>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>