<ion-content [fullscreen]="true" class="ion-content-center">
    <div class="w-full max-w-md p-4">
        <form
            [formGroup]="resetPasswordForm"
            (ngSubmit)="resetPassword()"
            class="w-full flex flex-col gap-4">

            <h1>Reset Password</h1>
            <div class="flex flex-col gap-1">
                <ion-input
                    formControlName="username"
                    label="Username"
                    labelPlacement="floating"
                    type="text"
                    fill="outline"
                    placeholder="Enter your username"></ion-input>
                @if (resetPasswordForm.get('username')?.touched &&
                resetPasswordForm.get('username')?.errors?.['required']){
                <ion-text color="danger">{{ errMsgUsername }}</ion-text>
                }
            </div>

            <div class="flex flex-col gap-2">
                <ion-input
                    formControlName="password"
                    label="Password"
                    labelPlacement="floating"
                    type="password"
                    fill="outline"
                    placeholder="Enter your password">
                    @if(resetPasswordForm.get('password')?.value.length > 0){
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    }
                </ion-input>
                @if (resetPasswordForm.get('password')?.touched &&
                resetPasswordForm.get('password')?.errors?.['pattern']) {
                <ul class="list-disc list-inside pl-2 m-0 border border-red-500 rounded-md" style="border-color: red;">
                    <li *ngFor="let item of passwordRequirementsMessageList">
                        <ion-text color="danger">{{ item }}</ion-text>
                    </li>
                </ul>
                }
            </div>

            <div class="flex flex-col gap-1">
                <ion-input
                    formControlName="confirmPassword"
                    label="Confirm Password"
                    labelPlacement="floating"
                    type="password"
                    fill="outline"
                    placeholder="Confirm your password">
                    @if(resetPasswordForm.get('confirmPassword')?.value.length > 0){
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    }
                </ion-input>
                @if (resetPasswordForm.get('confirmPassword')?.touched &&
                resetPasswordForm.errors?.['passwordsMismatch']) {
                <ion-text color="danger">{{errMsgConfirmPassword}}</ion-text>
                }
            </div>

            <ion-button
                type="submit"
                [disabled]="resetPasswordForm.invalid || isLoading"
                class="self-center max-w-[160px]">
                <ion-icon
                    name="refresh-sharp"
                    slot="start"
                    [class.animate-spin]="isLoading"></ion-icon>
                Reset Password
            </ion-button>
        </form>
    </div>
</ion-content>